.grid {
  width: 100%;
  height: 150vh;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

@media screen and (max-width: 1000px) {
  .grid {
    height: 210vh;
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 750px) {
  .grid {
    height: 450vh;
    grid-template-columns: 100%;
  }
}
